# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\crunchydevops\ci-cd\essai-web-flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
